.box {
    position: relative;
    min-width: 1200px;
}
.leftBox {
    float: left;
}
.rightBox {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
    right: 0;
    width: 250px;
    padding: 10px;
    border: 1px solid rgb(238, 238, 238);
}
.card {
    margin: 10px 80px;
    padding: 0;
    width: 800px;
    cursor: pointer;
}
.cardBottom {
    width: 100%;
    height: 10px;
    padding-top: 5px;
    border-top: 1px solid  rgb(238, 238, 238);
}
.ant-card-head-title {
    font-weight: 600;
}
.upStyle{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.ant-back-top {
    position: fixed;
    bottom: 100px;
}

